*, body {
  scroll-behavior: smooth;
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos {
  width: 70%;
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 50vw;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 51vw;
  border: 1px solid #183052;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #00843D;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #00843D;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #00843D;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
  height: 330px;
  margin-bottom: 10px;
  overflow-y: scroll;  
}

.div-results::-webkit-scrollbar{
  width: 5px;
}

.div-results::-webkit-scrollbar-track{
  background-color: #212124;  
}

.div-results::-webkit-scrollbar-thumb{
  background-color: #00843D;
  border-radius: 20px;
  border: 3px solid #00843D;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash_votacao {
  width: 80vw;
  background-color: #242729;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.navbar_cidades {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: #00843D ;
}

.sydney {
  background-color:#242729;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.sydney img {
  height: 325px;
  width: 551.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brisbane {
  background-color: #242729;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-top: 20px;
}
.brisbane img {
  height: 325px;
  width: 551.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canberra {
  background-color: #242729;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-top: 20px;
}

.canberra img {
  height: 325px;
  width: 551.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grafico_capital{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 40%;
  background-color: aliceblue;
  font-size: 32px;
  color: #183052;
}

.btn_capital{
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-top: 50px;
}
.classe_btn {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #00843D;
  width: 100px;
}

.grafico_rota{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  height: 40%;
  background-color: aliceblue;
  margin-top: 40px;
  font-size: 32px;
  color: #183052;
}

.btn_rota{
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}